
abgleich_pkg_wasix --index-url=https://pypi.org/project/
agate-dbf==0.2.2          # via csvkit
agate-excel==0.2.3        # via csvkit
agate-sql==0.5.5          # via csvkit
agate==1.6.1              # via agate-dbf, agate-excel, agate-sql, csvkit
astroid==2.4.2            # via pylint
babel==2.9.0              # via agate
csvkit==1.0.5             # via -r requirements.in, abgleich-pkg-wasix
dbfread==2.0.7            # via agate-dbf
dill==0.3.3               # via multiprocess, pathos
et-xmlfile==1.0.1         # via openpyxl
fuzzywuzzy==0.18.0        # via -r requirements.in, abgleich-pkg-wasix
isodate==0.6.0            # via agate
isort==5.6.4              # via pylint
jdcal==1.4.1              # via openpyxl
lazy-object-proxy==1.4.3  # via astroid
leather==0.3.3            # via agate
mccabe==0.6.1             # via pylint
multiprocess==0.70.11.1   # via pathos
numpy==1.19.4             # via -r requirements.in, abgleich-pkg-wasix, pandas
openpyxl==3.0.5           # via agate-excel
p-tqdm==1.3.3             # via -r requirements.in, abgleich-pkg-wasix
pandas==1.1.5             # via -r requirements.in, abgleich-pkg-wasix
parsedatetime==2.6        # via agate
pathos==0.2.7             # via p-tqdm
pox==0.2.9                # via pathos
ppft==1.6.6.3             # via pathos
psutil==5.7.3             # via -r requirements.in, abgleich-pkg-wasix
psycopg2-binary==2.8.6    # via -r requirements.in, abgleich-pkg-wasix
pylint==2.6.0             # via -r requirements.in, abgleich-pkg-wasix
python-dateutil==2.8.1    # via pandas
python-levenshtein==0.12.0  # via -r requirements.in, abgleich-pkg-wasix
python-slugify==4.0.1     # via agate
pytimeparse==1.1.8        # via agate
pytz==2020.4              # via babel, pandas
six==1.15.0               # via agate, astroid, csvkit, isodate, leather, p-tqdm, ppft, python-dateutil
sqlalchemy==1.3.20        # via -r requirements.in, abgleich-pkg-wasix, agate-sql
text-unidecode==1.3       # via python-slugify
toml==0.10.2              # via pylint
tqdm==4.54.1              # via -r requirements.in, abgleich-pkg-wasix, p-tqdm
wrapt==1.12.1             # via astroid
xlrd==1.2.0               # via -r requirements.in, abgleich-pkg-wasix, agate-excel

